<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="todoDB" connectionString="server=s29oj5odr85rij2o.cbetxkdyhwsb.us-east-1.rds.amazonaws.com,3306;userid=plvzhzv61bxv0emc;password=syet48j3d8fnml3v;database=rpmylsj4bwzux1vm"/>
	</connectionStrings>
</configuration>
